/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.navbar-default .navbar-nav > li > a {
    color: #f8f8f8
}

.navbar-default {
    border-color: rgba(168, 168, 168, 0.5)
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #cc0037
}

.navbar-default .navbar-nav > li > a:hover {
    color: #cc0037;
}

.scroll-header {
    background-color: rgba(0, 0, 0, 0.4);
    color: #f8f8f8;
    padding: 14px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.scroll-header.shrink {
    padding: 3px;
    background: #f8f8f8;
}

.scroll-header.shrink a {
    color: #030C1B !important
}

.scroll-header h1 {
    /*font-size:30px;*/
    font-weight: normal;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    color: #030C1B;
    padding: 0px;
    margin: 0px
}

.scroll-header.shrink h1 {
    font-size: 24px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    padding: 0px;
    margin: 0px
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Header style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



.logo{
    font-size:40px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 5px;
}
span.m_1 {
  color:#F9D9BE;
}
/*.logo{
	float:left;
}*/
.logo a{
    font-size: 22px;
    color: #f8f8f8 !important;
}
.logo a:hover{
   text-decoration:none;
}


ul.social {
	padding:0;
	list-style: none;
    text-align: center;
}
ul.social li:first-child {
	margin-left: 0;
}
ul.social li {
	display: inline-block;
	margin-right: 5px;
}
ul.social li a i {
	width:35px;
	height:35px;
	display: block;
	background: url(../img/img-sprite.png)no-repeat;
}
ul.social li a i:hover{
	opacity:0.8;
}
ul.social li a i.instagram{
	background-position:-5px -4px;
}
ul.social li a i.fb{
	background-position:-44px -5px;
}
ul.social li a i.tw{
	background-position:-83px -6px;
}
.copy{
	text-align:center;
	margin-top:2em;
}
.copy p a{
	color:#ECCAAD;
}
.copy p a:hover{
	text-decoration:none;
	color:#1a1a1a;
}
.copy p{
	font-size:1em;
}




.btn.btn-primary {
	font-size: 1.1em;
	font-weight: 300;
	font-style: normal;
	text-shadow: none;
	text-transform: uppercase;
	color:#000;
	padding: 10px 30px;
	position: relative;
	letter-spacing: 0;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	border: none;
	outline: none;
	border-radius: 0;
	z-index: 1;
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
}
.btn-primary {
	color: #fff;
}
.btn.btn-primary:hover {
	color: #f8f8f8 !important;
}

.btn.btn-primary:before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: -1;
	border-radius: 0;
	background:#d30061;
    color: #f8f8f8 !important
	/*-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;*/
}
.btn.btn-primary:hover:before {
	width: 100%;
	left: 0;
    color: #f8f8f8 !important
	/*-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;*/
}



.btn.btn-primary:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	border-radius: 0;
	border:2px solid #d30061;
	z-index: -2;
    /*
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;*/
}