{% load staticfiles %}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>


<!--webfont-->
<link href="{% static 'shoes_app/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'shoes_app/img/logopicknshine2.png' %}" type="image/x-icon">

<!-- Custom Theme files -->
<link href="{% static 'shoes_app/css/style2.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'shoes_app/css/base.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'shoes_app/css/component.css' %}" rel='stylesheet' type='text/css' />


<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'shoes_app/js/jquery-1.11.1.min.js' %}"></script>
<!-- start menu -->
<link href="{% static 'shoes_app/css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'shoes_app/js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="{% static 'shoes_app/js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'shoes_app/js/simpleCart.min.js' %}"> </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74954964-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>

<header>
    <nav class="navbar navbar-default scroll-header navbar-fixed-top">
        <!--<div class="container-fluid" ng-controller="headerCtrl">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo"><img src="{% static 'shoes_app/img/logopicknshine2.png' %}" alt="" width="30px" style="float:left;padding-top: 5px;"> <a href="{{url}}/" class="navbar-brand" style="margin-left: 1px;"> <span>Shoes</span></a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{url}}/allwoman/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños mujeres </a></li>
                      <li><a href="{{url}}/allmean/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños hombres </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>

	<div class="men_banner">
   	  <div class="container">
	  </div>
   </div>
   <div class="men">
    <div class="container">
    <h1 style="text-align:center">Politicas de cambio en Pick & Shine</h1>
    <hr>
    <br>
    	<div class="col-md-12 mens_right">
    	<p>Si no quedas conforme con tu compra, Pick & Shine te entrega el beneficio de devolver tu producto. El plazo para hacer efectivo este beneficio es de: 30 días</p>
    	<br>
    	<p>Si quieres cambiar tu producto, tienes 90 días para hacerlo con tu boleta, ticket de cambio o cualquier documento que acredite la compra en cualquiera de nuestras tiendas o mediante correo electrónico. Para cambios y devoluciones, el producto debe encontrarse nuevo, sin uso, en perfectas condiciones, en su embalaje original, con todos sus componentes, accesorios, manuales y etiquetas.</p>
    	<br>
    	<p>En caso que un cliente solicite el retiro de un producto por arrepentimiento de la compra, los gastos de retiro serán por cuenta del cliente y no se devolverán los gastos del despacho original.</p>
    	<br>
    	<p>Recuerda llamarnos al +945013722 para coordinar el retiro de tu producto o dirígete a nuestras tiendas para hacer uso de este beneficio.</p>
    	<br>
    	<p><h2 style="color:#d30061">¿Qué documentos se necesitan para realizar el cambio y/o devolución?</h2></p>
    	<br>
    	<p>Para el cambio te sugerimos traer la boleta, guía de despacho o cualquier documento que acredite la compra. Si pierdes la boleta, no te preocupes, puedes acercarte a Servicio al Cliente de nuestras tiendas y con el RUT del comprador acreditar tu compra.</p>
    	<br>
    	<p><h2 style="color:#d30061">Siempre recuerda que:</h2></p>
    	<br>
    	<p>Para una devolución necesitas traer la boleta o factura original</p>
    	<br>
    	<p>Para el caso de productos asociados a una promoción (combos, 2x1,etc) se requiere la entrega de todos los productos que ésta incluye, sin perjuicio que el cambio o devolución se realice sólo para uno de ellos.</p>
    	<br>
    	<p>Al recibir tu calzado, pruébalos en casa para que confirmes que son la talla correcta. Recuerda hacerlo sobre una superficie lisa con el fin de prevenir marcas de uso en caso que desees realizar algún cambio.</p>
    	<br>
    	<p><h2 style="color:#d30061">¿Qué pasa si quiero cambiar mis zapatos?</h2></p>
    	<br>
    	<p>Si requieres el cambio de tus zapatos, puedes hacerlo de dos maneras:</p>
    	<br>
    	<p>Llámanos al +945013722 y coordina el retiro del producto que quieres cambiar o devolver. Esto no tendrá costos de transporte la primera vez.</p>
    	<br>
    	<p>Si deseas cambiarlo por segunda vez tendrás que costear los valores de transporte.</p>
    	<br>
    	<p>No olvides que los calzados deben ser devueltos sin uso, en su caja original y presentar la boleta o guía de despacho.</p>

    	</div>
    </div>
   </div>
  <div class="footer">
   	 <div class="container">

		<ul class="social">
			<li><a href="https://www.instagram.com/pickandshine/"> <i class="instagram"> </i> </a></li>
			<!--<li><a href=""><i class="fb"> </i> </a></li>-->
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2016 Pick&Shine. Todos los derechos reservados</p>
	    </div>
   	</div>
   </div>
   
   
         <script>
        $(function () {
            var shrinkHeader = 300;
            $(window).scroll(function () {
                var scroll = getCurrentScroll();
                if (scroll >= shrinkHeader) {
                    $('.scroll-header').addClass('shrink');
                } else {
                    $('.scroll-header').removeClass('shrink');
                }
            });

            function getCurrentScroll() {
                return window.pageYOffset || document.documentElement.scrollTop;
            }
        });
    </script>
</body>
</html>		
