{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoes</title>
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'shoes_app/img/logopicknshine2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="http://2.teamussolutions.com/static/css/font-awesome.css">

    <!-- Bootstrap
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'shoes_app/css/bootstrap.css' %}">

    <!-- Other Css Files
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static 'shoes_app/font-awesome-4.2.0/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shoes_app/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shoes_app/css/jasny-bootstrap.min.css' %}">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'shoes_app/css/style.css' %}">
    <link href="{% static 'shoes_app/css/base.css' %}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{% static 'shoes_app/css/responsive.css' %}">

    <!-- Google Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Modernizr
    ================================================== -->
    <script type="text/javascript" src="{% static 'shoes_app/js/modernizr.custom.js' %}"></script>

    <!-- Switcher Only -->
    <link rel="stylesheet" id="switcher-css" type="text/css" href="{% static 'shoes_app/demo-files/switcher.css' %}" media="all" />
    <!-- END Switcher Styles -->
    
    
    
    <!-- END Demo Examples -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74954964-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body data-spy="scroll" data-target=".navbar-example">


<header>
    <nav class="navbar navbar-default scroll-header navbar-fixed-top">
        <!--<div class="container-fluid" ng-controller="headerCtrl">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo"><img src="{% static 'shoes_app/img/logopicknshine2.png' %}" alt="" width="50px" style="float:left;width: 57px;"> <a href="{{url}}/" class="navbar-brand" style="margin-left: 1px;padding: 17px 9px;"> <span>SHOES</span></a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{url}}/allwoman/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños mujeres </a></li>
                      <li><a href="{{url}}/allmean/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños hombres </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>

    <!-- Hero Slider
    ================================================== -->
    <section id="hero"> 
        

        <!--Start Sliders -->
        <div id="header-slider" class="carousel slide" data-ride="carousel">

          <!-- Hero Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="item active"> <!-- First Slider -->
              <img src="{% static 'shoes_app/img/zapatos1.png' %}" alt="...">
              <div class="carousel-caption">
                <h1>Creativos</h1>
                <h4>Los zapatos más creativos</h4>
                <a class="to-paint-btn btn btn-primary btn-normal btn-inline btn_form button" href="/paint" style="font-size:32px; margin-top:20px">¡Crea el tuyo!</a>
                <a class="page-scroll" href="#portfolio"></a>
              </div>
            </div> <!-- End First Slider -->

            <div class="item"> <!-- Second Slider -->
              <img src="{% static 'shoes_app/img/zapatos3.png' %}" alt="...">
              <div class="carousel-caption">
                <h1>Originales</h1>
                <h4>Ten los zapatos mas originales del mercado</h4>
                <a class="to-paint-btn btn btn-primary btn-normal btn-inline btn_form button" href="/paint" style="font-size:32px; margin-top:20px">¡Crea el tuyo!</a>
                <a class="page-scroll" href="#portfolio"></a>
              </div>
            </div><!-- End Second Slider -->

            <div class="item"> <!-- Third Slider -->
              <img src="{% static 'shoes_app/img/zapatos6.png' %}" alt="...">
              <div class="carousel-caption">
                <h1>Estilo</h1>
                <h4>Pídelos a tu estilo</h4>
                <a class="to-paint-btn btn btn-primary btn-normal btn-inline btn_form button" href="/paint" style="font-size:32px; margin-top:20px">¡Crea el tuyo!</a>
                <a class="page-scroll" href="#portfolio"></a>
                <!--<span class="fa fa-angle-double-down fa-3x"></span>-->
              </div>
            </div><!-- End Third Slider -->

          </div> <!-- End Hero Wrapper for slides -->

        </div> <!-- End Sliders -->

        <div class="controls">
            <a href="#header-slider" role="button" data-slide="prev"><span class="arrow-left"></span></a> <!-- Prev Control -->
            <a href="#header-slider" role="button" data-slide="next"><span class="arrow-right"></span></a> <!-- Next Control -->
        </div>

    </section><!-- End Hero Slider -->


    <!-- Portfolio Section
    ================================================== -->
    <section class="home-section" id="portfolio"> 
       <h1 class="section-h1"><span>Diseños destacados</span></h1>
        <div class="container" style="padding-top:11px;"> <!-- Start Container -->
            <div class="row"> <!-- Start Row -->

                <div class="col-sm-4 col-md-4 col-lg-4 nopadding"> <!-- First Column -->

                    <div class="small-box">
                        <div class="hover-bg">
                            <img src="{{static_admin}}/shoes_app/photos/{{producto_home.0.producto.filename}}" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.0.producto.pk}}"><h2>{{producto_home.0.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.0.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.0.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="small-box">
                        <div class="hover-bg">
                            <img src="{{static_admin}}/shoes_app/photos/{{producto_home.1.producto.filename}}" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.1.producto.pk}}"><h2>{{producto_home.1.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.1.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.1.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div> 
                    <!--
                    <div class="small-box">
                        <div class="hover-bg">
                           <img src="/shoesstatic/shoes_app/photos/{{producto_home.2.producto.filename}}" alt="img" class="img-responsive">
                               <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.2.producto.pk}}"><h2>{{producto_home.2.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.2.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.2.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div> -->

                </div> <!-- End First Column -->

                <div class="col-sm-4 col-md-4 col-lg-4 nopadding"> <!-- Second Column -->

                    <div class="small-box">
                        <div class="hover-bg">
                           <img src="{{static_admin}}/shoes_app/photos/{{producto_home.3.producto.filename}}" alt="img" class="img-responsive">
                                    <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.3.producto.pk}}"><h2>{{producto_home.3.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.3.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.3.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div>

                    <div class="small-box">
                        <div class="hover-bg">
                            <img src="{{static_admin}}/shoes_app/photos/{{producto_home.4.producto.filename}}" alt="img" class="img-responsive">
                                  <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.4.producto.pk}}"><h2>{{producto_home.4.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.4.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.4.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div>

                     <!--
                    <div class="small-box">
                        <div class="hover-bg">
                            <img src="/shoesstatic/shoes_app/photos/{{producto_home.5.producto.filename}}" alt="img" class="img-responsive">
                            <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.5.producto.pk}}"><h2>{{producto_home.5.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.5.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.5.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div>-->

                </div> <!-- End Second Column -->

                <div class="col-sm-4 col-md-4 col-lg-4 nopadding"> <!-- Third Column -->
                    
                                        <div class="small-box">
                        <div class="hover-bg">
                            <img src="{{static_admin}}/shoes_app/photos/{{producto_home.6.producto.filename}}" alt="img" class="img-responsive">
                           <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.6.producto.pk}}"><h2>{{producto_home.6.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.6.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.6.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div>
                                        <div class="small-box">
                        <div class="hover-bg">
                            <img src="{{static_admin}}/shoes_app/photos/{{producto_home.7.producto.filename}}" alt="img" class="img-responsive">
                         <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.7.producto.pk}}"><h2>{{producto_home.7.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.7.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.7.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div>
                    
                         <!--
                                        <div class="small-box">
                        <div class="hover-bg">
                            <img src="/shoesstatic/shoes_app/photos/{{producto_home.8.producto.filename}}" alt="img" class="img-responsive">
                         <div class="hover-text animated">
                                <div class="ptitle">
                                    <a href="{{url}}/detalle/{{producto_home.8.producto.pk}}"><h2>{{producto_home.8.producto.name}}</h2></a>
                                </div>
                                <p class="excerpt">{{producto_home.8.producto.description_short}}</p>
                                <a href="{{url}}/detalle/{{producto_home.8.producto.pk}}" class="btn btn-default read-more-btn"><span class="fa fa-bars"></span>Ver descripción</a>
                            </div>
                        </div>
                    </div>-->
                    


                </div> <!-- End Third Column -->

            </div> <!-- End Row -->
        </div> <!-- End Container -->
        <div class="clearfix"></div>
    </section>
    <section class="home-section" style="background:#e7e7e7">
       <h1 class="section-h1"><span>Distrútalas como ellos ya lo hicieron</span></h1>
       <div class="container" style="padding-top:11px">
       <div class="row used-by-row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 used-by-img-col">
                <img src="{% static 'shoes_app/img/taylor_keds.jpg' %}" alt="" class="pull-right">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 used-by-img-col">
                <img src="{% static 'shoes_app/img/vans3.jpg' %}" alt="" class="pull-left">
            </div>
       </div>
        </div>
        
    </section>    
      
      <section class="home-section">
       <h1 class="section-h1"><span>Qué opinan nuestros clientes</span></h1><i class="fa fa-wpbeginner" aria-hidden="true"></i>
       <div class="container" style="padding-top:0px">
       <div class="row testimonials-row">
		<blockquote>Son los mejores zapatos que he usado, me encantan puedo lucir formal, moderna y comoda todo en un mismo zapato <cite>María Jose Olguin<br></cite> </blockquote>		
		<blockquote>Este producto salió de una idea de mis alumnos del MBA de marketing digital, y sin duda se ha convertido en una moda, todos ya quieres usar sus propios diseños.<cite>Cristian Aran <br></cite> </blockquote>
		</div>
          </div>
        
    </section>
    
          <section class="home-section last-section" style="background:#e7e7e7">
       <h1 class="section-h1"><span>Comunícate con nosotros</span></h1>
       <br>
       <center>
       <a href="{{url}}/contacto/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Contactanos </a>
       </center>
       <br>
        
    </section>
    





    <div class="space"></div>





    <!-- Footer Section
    ================================================== -->
  <div class="footer" >
   	 <div class="container">

		<ul class="social">
			<li><a href="https://www.instagram.com/pickandshine/"> <i class="instagram"> </i> </a></li>
			<!--<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>-->
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2016 Pick&Shine. Todos los derechos reservados</p>
	    </div>
   	</div>
   </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'shoes_app/js/jquery.1.11.1.js' %}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'shoes_app/js/bootstrap.js' %}"></script>

    <!-- Other JS Files -->
    <script type="text/javascript" src="{% static 'shoes_app/js/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shoes_app/js/jasny-bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shoes_app/js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'shoes_app/js/nivo-lightbox.js' %}"></script>

    <!-- Custom Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>
    
    <!-- Contact page-->
    <script type="text/javascript" src="{% static 'shoes_app/js/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'shoes_app/js/contact.js' %}"></script>

    <!--Custom Scripts
    ================================================== -->

    <!-- ADD Switcher -->

    <!-- Demo Switcher JS -->
    <script type="text/javascript" src="{% static 'shoes_app/demo-files/fswit.js' %}"></script>

  </body>
  
  
      <script>
        $(function () {
            var shrinkHeader = 300;
            $(window).scroll(function () {
                var scroll = getCurrentScroll();
                if (scroll >= shrinkHeader) {
                    $('.scroll-header').addClass('shrink');
                } else {
                    $('.scroll-header').removeClass('shrink');
                }
            });

            function getCurrentScroll() {
                return window.pageYOffset || document.documentElement.scrollTop;
            }
        });
    </script>
</html>
