{% load staticfiles %}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>


<!--webfont-->
<link href="{% static 'shoes_app/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'shoes_app/img/logopicknshine2.png' %}" type="image/x-icon">

<!-- Custom Theme files -->
<link href="{% static 'shoes_app/css/style2.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'shoes_app/css/base.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'shoes_app/css/component.css' %}" rel='stylesheet' type='text/css' />


<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'shoes_app/js/jquery-1.11.1.min.js' %}"></script>
<!-- start menu -->
<link href="{% static 'shoes_app/css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'shoes_app/js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="{% static 'shoes_app/js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'shoes_app/js/simpleCart.min.js' %}"> </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74954964-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>

<header>
    <nav class="navbar navbar-default scroll-header navbar-fixed-top">
        <!--<div class="container-fluid" ng-controller="headerCtrl">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo"><img src="{% static 'shoes_app/img/logopicknshine2.png' %}" alt="" width="30px" style="float:left;padding-top: 5px;"> <a href="{{url}}/" class="navbar-brand" style="margin-left: 1px;"> <span>Shoes</span></a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{url}}/allwoman/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños mujeres </a></li>
                      <li><a href="{{url}}/allmean/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños hombres </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>

	<div class="men_banner">
   	  <div class="container">
	  </div>
   </div>
   <div class="men">
    <div class="container">
    <h1 style="text-align:center">Zapatos para hombres</h1>
    <br>
    	<div class="col-md-12 mens_right">
    		<div class="dreamcrub">
			   	<ul class="breadcrumbs">
                    <li class="home">
                       <a href="{{url}}/" title="Go to Home Page" style="color:#d30061">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        Zapatos&nbsp;
                    </li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="mens-toolbar">

    	        <ul class="women_pagenation dc_paginationA dc_paginationA06">
			     <li><a href="#" class="previous">Páginas : </a></li>
			     <li class="active"><a href="#">1</a></li>
			     <!--<li><a href="#">2</a></li>-->
		  	    </ul>
                <div class="clearfix"></div>		
		        </div>
    		<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
    		        <!--
					<div class="cbp-vm-options">
						<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid</a>
						<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">Lista</a>
					</div> -->
					<div class="pages">   
       	   </div>
					<div class="clearfix"></div>
                     <div class="row">
                      {% for product in products %}
					  <div class="simpleCart_shelfItem col-md-4">
							<a class="cbp-vm-image" href="{{url}}/detalle/{{product.pk}}">
							 <div class="view view-first">
					   		  <div class="inner_content clearfix">
								<div class="product_image">
									<div class="mask1" style="    max-height: 245px;
    min-height: 245px;"><img src="{{static_admin}}/shoes_app/photos/{{product.filename}}" alt="image" class="img-responsive zoom-img"></div>
									<div class="mask">
			                       		<div class="info">Ver descripción</div>
					                 </div>
					                 <div class="product_container" style="">
									   <h4>{{product.name}}</h4>
									   <p>{{product.description_short}}</p>
									   <div class="price mount item_price">{{product.price}}</div>
									 </div>		
								  </div>
			                     </div>
		                      </div>
		                    </a>
						</div>
						{% endfor %}
						</div>

				</div>
                <script defer src="{% static 'shoes_app/js/jquery.flexslider.js' %}"></script>
                <link rel="stylesheet" href="{% static 'shoes_app/css/flexslider.css' %}" type="text/css" media="screen" />
    	</div>
    </div>
   </div>
  <div class="footer">
   	 <div class="container">

		<ul class="social">
			<li><a href="https://www.instagram.com/pickandshine/"> <i class="instagram"> </i> </a></li>
			<!--<li><a href=""><i class="fb"> </i> </a></li>-->
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2016 Pick&Shine. Todos los derechos reservados</p>
	    </div>
   	</div>
   </div>
   
   
         <script>
        $(function () {
            var shrinkHeader = 300;
            $(window).scroll(function () {
                var scroll = getCurrentScroll();
                if (scroll >= shrinkHeader) {
                    $('.scroll-header').addClass('shrink');
                } else {
                    $('.scroll-header').removeClass('shrink');
                }
            });

            function getCurrentScroll() {
                return window.pageYOffset || document.documentElement.scrollTop;
            }
        });
    </script>
</body>
</html>		
