{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  
  <title>Pick and Shine</title>
<!--webfont-->

  <link href="{% static 'shoes_app/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'shoes_app/img/logopicknshine2.png' %}" type="image/x-icon">

<!-- Custom Theme files -->
<link href="{% static 'shoes_app/css/style2.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'shoes_app/css/base.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'shoes_app/css/component.css' %}" rel='stylesheet' type='text/css' />


<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'shoes_app/js/jquery-1.11.1.min.js' %}"></script>
<!-- start menu -->
<link href="{% static 'shoes_app/css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'shoes_app/js/megamenu.js' %}"></script>

<script src="{% static 'shoes_app/js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'shoes_app/js/simpleCart.min.js' %}"> </script>
  
  

  <!-- filestart -->
  <link rel="icon" type="image/vnd.microsoft.icon"  href="./demo/img/favicon.ico" />
  <link rel="Stylesheet" type="text/css" href="{% static 'shoes_app/paint/demo/demo.css' %}" />
  <script type="text/javascript" src="{% static 'shoes_app/paint/lib/jquery.1.10.2.min.js' %}"></script>
  <!-- fileend -->
  
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</head>
<body>
<header>
    <nav class="navbar navbar-default scroll-header navbar-fixed-top">
        <!--<div class="container-fluid" ng-controller="headerCtrl">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo"><img src="{% static 'shoes_app/img/logopicknshine2.png' %}" alt="" width="30px" style="float:left;width: 57px;"> <a href="{{url}}/" class="navbar-brand" style="margin-left: 1px;    padding: 17px 9px;"> <span>Shoes</span></a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{url}}/allwoman/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños mujeres </a></li>
                      <li><a href="{{url}}/allmean/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños hombres </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>
  	<div class="men_banner">
   	  <div class="container">
	  </div>
   </div>
   

  <div id="content">

    <div class="content-box">
      <!-- jQuery UI -->
      <script type="text/javascript" src="{% static 'shoes_app/paint/lib/jquery.ui.core.1.10.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'shoes_app/paint/lib/jquery.ui.widget.1.10.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'shoes_app/paint/lib/jquery.ui.mouse.1.10.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'shoes_app/paint/lib/jquery.ui.draggable.1.10.3.min.js' %}"></script>
      
      <!-- wColorPicker -->
      <link rel="Stylesheet" type="text/css" href="{% static 'shoes_app/paint/lib/wColorPicker.min.css' %}" />
      <script type="text/javascript" src="{% static 'shoes_app/paint/lib/wColorPicker.min.js' %}"></script>

      <!-- wPaint -->
      <link rel="Stylesheet" type="text/css" href="{% static 'shoes_app/paint/wPaint.min.css' %}" />
      <script type="text/javascript" src="{% static 'shoes_app/paint/wPaint.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'shoes_app/paint/plugins/main/wPaint.menu.main.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'shoes_app/paint/plugins/text/wPaint.menu.text.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'shoes_app/paint/plugins/shapes/wPaint.menu.main.shapes.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'shoes_app/paint/plugins/file/wPaint.menu.main.file.min.js' %}"></script>
        
        <h1 style="color:#d30061; text-align:center">Diviértete y crea tu propio diseño!!</h1>
        <br>
     
      <div id="wPaint" style="position:relative; width:500px; height:200px; background-color:#7a7a7a; margin:70px auto 20px auto; background: url('{% static "shoes_app/img/shoes1.jpg" %}') no-repeat center top;"></div>

      <!--<center style="margin-bottom: 50px;">
        <input type="button" value="toggle menu" onclick="console.log($('#wPaint').wPaint('menuOrientation')); $('#wPaint').wPaint('menuOrientation', $('#wPaint').wPaint('menuOrientation') === 'vertical' ? 'horizontal' : 'vertical');"/>
      </center>-->
      <h1 style="text-align:center">Precio: <span id="price">$20.000</span></h1>
      <div style="text-align:center">
      <p><span id="price">*Precio referencial, esta es una herramienta de prueba. Para consultar zapatos a la venta ir a:</span></p>
      <a href="{{url}}/allwoman/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Nuestros Diseños </a>
      </div>
      

      <center id="wPaint-img"></center>
      
      <div class="row" style="padding-top:80px">
          <div class="col-md-3" style="border: 1px solid #d30061">
          <img src="{% static "shoes_app/img/shoes1.jpg" %}" alt="" style="width:100%; cursor:pointer" id="shoes1">
          </div>
          <div class="col-md-3" style="border: 1px solid #d30061">
              <img src="{% static "shoes_app/img/shoes2.jpg" %}" alt="" style="width:100%; cursor:pointer" id="shoes2">
          </div>
          <div class="col-md-3" style="border: 1px solid #d30061">
              <img src="{% static "shoes_app/img/shoes3.jpg" %}" alt="" style="width:100%; cursor:pointer" id="shoes3">
          </div>
          <div class="col-md-3" style="border: 1px solid #d30061">
              <img src="{% static "shoes_app/img/shoes4.jpg" %}" alt="" style="width:100%; cursor:pointer" id="shoes4">
          </div>
      </div>
      </div>
      <br>
      
      <h1 style="text-align:center">Comentanos que te parecio nuestra nueva herramienta!!:</h1>
      <div class="fb-comments" data-href="http://www.picknshine.com/paint/" data-numposts="5"></div>
      


      <script type="text/javascript">
        var images = [
          "{% static 'shoes_app/img/shoes1.jpg' %}",
        ];

        function saveImg(image) {
          var _this = this;

          $.ajax({
            type: 'POST',
            url: '/test/upload.php',
            data: {image: image},
            success: function (resp) {

              // internal function for displaying status messages in the canvas
              _this._displayStatus('Image saved successfully');

              // doesn't have to be json, can be anything
              // returned from server after upload as long
              // as it contains the path to the image url
              // or a base64 encoded png, either will work
              resp = $.parseJSON(resp);

              // update images array / object or whatever
              // is being used to keep track of the images
              // can store path or base64 here (but path is better since it's much smaller)
              images.push(resp.img);

              // do something with the image
              $('#wPaint-img').attr('src', image);
            }
          });
        }

        function loadImgBg () {

          // internal function for displaying background images modal
          // where images is an array of images (base64 or url path)
          // NOTE: that if you can't see the bg image changing it's probably
          // becasue the foregroud image is not transparent.
          this._showFileModal('bg', images);
        }

        function loadImgFg () {

          // internal function for displaying foreground images modal
          // where images is an array of images (base64 or url path)
          this._showFileModal('fg', images);
        }

        // init wPaint
        $('#wPaint').wPaint({
          menuOffsetLeft: -35,
          menuOffsetTop: -50,
          saveImg: saveImg,
          loadImgBg: loadImgBg,
          loadImgFg: loadImgFg
        });
      </script>
    </div>
  </div>

  <div class="footer">
   	 <div class="container">

		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2016 Shoes. Todos los derechos reservados</p>
	    </div>
   	</div>
   </div>
   
   
         <script>
        $(function () {
            var shrinkHeader = 300;
            $(window).scroll(function () {
                var scroll = getCurrentScroll();
                if (scroll >= shrinkHeader) {
                    $('.scroll-header').addClass('shrink');
                } else {
                    $('.scroll-header').removeClass('shrink');
                }
            });

            function getCurrentScroll() {
                return window.pageYOffset || document.documentElement.scrollTop;
            }
            
            $( "#shoes2" ).click(function() {
              $("#price").text("$28.000")
              $("#wPaint").css('background', 'url("{% static 'shoes_app/img/shoes2.jpg' %}") no-repeat center top')
            });            
            $( "#shoes1" ).click(function() {
                $("#wPaint").css('background', 'url("{% static 'shoes_app/img/shoes1.jpg' %}") no-repeat center top')
              $("#price").text("$20.000")
            });            
            $( "#shoes3" ).click(function() {
                $("#wPaint").css('background', 'url("{% static 'shoes_app/img/shoes3.jpg' %}") no-repeat center top')
              $("#price").text("$25.000")
            });            
            $( "#shoes4" ).click(function() {
                $("#wPaint").css('background', 'url("{% static 'shoes_app/img/shoes4.jpg' %}") no-repeat center top')
              $("#price").text("$30.000")
            });
            
        });
    </script>
</body>
</html>