{% load staticfiles %}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Shoes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'shoes_app/img/logopicknshine2.png' %}" type="image/x-icon">

<!--webfont-->
<link href="{% static 'shoes_app/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->

<link href="{% static 'shoes_app/css/style.css' %}" rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<link href="{% static 'shoes_app/css/style2.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'shoes_app/css/base.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->


<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'shoes_app/js/jquery-1.11.1.min.js' %}"></script>
<!-- start menu -->
<link href="{% static 'shoes_app/css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'shoes_app/js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="{% static 'shoes_app/js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'shoes_app/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
		    <script type="text/javascript">
			    $(document).ready(function () {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion           
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
            </script>	
<script src="{% static 'shoes_app/js/simpleCart.min.js' %}"> </script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-default scroll-header navbar-fixed-top">
        <!--<div class="container-fluid" ng-controller="headerCtrl">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo"><img src="{% static 'shoes_app/img/logopicknshine2.png' %}" alt="" width="30px" style="float:left;padding-top: 5px;"> <a href="{{url}}/" class="navbar-brand" style="margin-left: 1px;"> <span>Shoes</span></a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{url}}/allwoman/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños mujeres </a></li>
                      <li><a href="{{url}}/allmean/" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" style="margin-top: 5px;">Diseños hombres </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>

<form action="" method="post" id="enviar_producto"> {% csrf_token %}

	<div class="men_banner">
   	  <div class="container">
	  </div>
   </div>
   <div class="men">
   	<div class="container">
      <div class="col-md-9 single_top">
                {% if success %}
                    <div class="alert alert-success" role="alert">{{success}}</div>
                {% endif %}
      	<div class="single_left">
      	  <div class="labout span_1_of_a1">
			<div class="flexslider">
					 <ul class="slides">
						<li data-thumb="{{static_admin}}/shoes_app/photos/{{product.filename}}">
							<img src="{{static_admin}}/shoes_app/photos/{{product.filename}}" />
						</li>
						
						{%if product.photo1 %}
						<li data-thumb="{{static_admin}}/shoes_app/photos/{{product.filename1}}">
							<img src="{{static_admin}}/shoes_app/photos/{{product.filename1}}" />
						</li>
						{%endif%}
						{%if product.photo2 %}
						<li data-thumb="{{static_admin}}/shoes_app/photos/{{product.filename2}}">
							<img src="{{static_admin}}/shoes_app/photos/{{product.filename2}}" />
						</li>
						{%endif%}
						{%if product.photo3 %}
						<li data-thumb="{{static_admin}}/shoes_app/photos/{{product.filename3}}">
							<img src="{{static_admin}}/shoes_app/photos/{{product.filename3}}" />
						</li>
						{%endif%}
					 </ul>
				  </div>
		          <div class="clearfix"></div>	
	    </div>
		<div class="cont1 span_2_of_a1 simpleCart_shelfItem">
				<h2>{{product.name}}</h2>
				{%if product.status %}
				<p class="availability"><span class="color">Disponible</span></p>
                {%else%}
                <p class="availability"><span style="color:red">Agotado</span></p>
                {%endif%}
                <input type="text" class="" id="id_product" name="id_product" value="{{product.pk}}" style="display:none">
                
			    <div class="price_single">
			        {% if product.price_before %}
				  <span class="reducedfrom" id="before_price">${{product.price_before}}</span>
				      {% endif %}
				  <span class="amount item_price actual" id="price">${{product.price}}</span>
				</div>
				<h2 class="quick">Descripción:</h2>
				<p class="quick_desc"> {{product.description_short}}</p>
			    <hr>
			    <span style="color:#d30061"> * Tiempo de desapacho 1 semana a partir del momento de efectuado el pago. </span>
			    
			    <div class="row">
                <div class="col-md-6">
				<ul class="size">
					<h3>Tamaño</h3>
					{% for size in product.screenshots_as_list %}
                        <li><a class="size-number">{{size}}</a></li>
                    {% endfor %}
                    
                    <input type="text" class="" id="size_input" name="size_input" style="display:none">
				</ul>				
                    </div>
				<div class="col-md-6">
				<ul class="size">
                 
					<h3>Marca</h3>
					{% for price in prices %}
                        <li><a class="marca-number" {% ifequal price.marca.name "Generica" %} style="background:#d30061; color:#f8f8f8"{%endifequal%}>{{price.marca}}</a></li>
                    {% endfor %}
                    
                    <input type="text" class="" id="marca_input" name="marca_input" style="display:none" value="Generica">
				</ul>
                    </div>
            </div>
				<div class="quantity_box row">
				    <div class="col-md-6">
				    <ul class="product-qty" >
					   <span>Cantidad:</span>
					   <select name="qty">
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
						 <option value="4">4</option>
						 <option value="5">5</option>
						 <option value="6">6</option>
					   </select>
				    </ul>
				        
				    </div>
				    <div class="col-md-6">
				    <div class="despacho_box" style="margin-top: 0px;">
					<ul class="despacho">
					   <span>País de despacho:</span>
					   <select name="despacho">
						 <option value="Chile">Chile</option>
						 <option value="Venezuela">Venezuela</option>
						 <option value="0">Otro</option>
					   </select>
				    </ul>
		   		    <div class="clearfix"></div>
	   		    </div>
				        
				    </div>

		   		    <div class="clearfix"></div>
	   		    </div>
                  
                
                   
			    <a class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self" data-toggle="modal" data-target="#myModal">Comprar</a>
           <br>
           <br>
            <span style="color:#d30061"> * Si presenta algun problema con su compra por favor contactanos al (Chile)+56945013722 </span>
            <a href="/cambio" target="_blank"> Políticas de cambio </a>
			</div>
		    <div class="clearfix"> </div>
		</div>
        <div class="sap_tabs">	
	       <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
			  <ul class="resp-tabs-list">
			  	  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Descripción del producto</span></li>
				  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Información adicional</span></li>
			  </ul>				  	 
			  <div class="resp-tabs-container">
			    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
					<div class="facts">
					  <ul class="tab_list">
					  	<li>
					  	    <p>{{product.description}}</p>
					  	    
					  	    <p>Pasos para conocer tu talla:</p>
					  	    <p>No en todas las marcas coinciden las mismas tallas por esto sigue las siguientes instrucciones para proporcionarnos tu talla.</p>
					  	    <p>1. No en todas las marcas coinciden las mismas tallas por esto sigue las siguientes instrucciones para proporcionarnos tu talla.
                           <br>
                           Con este platilla podras saber de manera facil cual es tu talla.
                           </p>
					  	    <p>2. Imprime la plantilla y situa tu pie (de no poder imprimirla puedes tomar las medidas de tus pies de extremo a extemo y sigue las instrucciones).</p>
					  	    <p>3. Es importante que al realizar la medida uses el mismo tipo de carcetín que usas habitualmente con este tipo de calzado.</p>
					  	    <p>4. Cuando midas tus pies te daras cuenta que uno es más grande que el otro, toma como medida el más grande.</p>
					  	    <p>5. Si el número da decimal SIEMPRE aproximalo al mas grande, NUNCA al menor ej: si mide 23,4 cm redondealo a 24 cm.</p>
					  	    <p><a href="{% static 'shoes_app/img/my_plantilla.pdf' %} "  target="_blank">Ver plantilla</a></p>
					  	</li>
					  </ul>           
			        </div>
			     </div>	
			      <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
					<div class="facts">
					  <ul class="tab_list">
					    <li>{{product.description_adicional}}
					    <br>
					       Puedes retirar tu producto en Padre Alonso de Ovalle 840 o puede ser enviado a traves de chilexpress consultar precios de despacho aqui: <a href="">http://www.chilexpress.cl/cotizador-envios-de-encomiendas-tarifas</a>
					    
					    </li>
					  </ul>           
			        </div>
			     </div>	
			  </div>
		    </div>
		  </div>	
		</div>
		<div class="col-md-3 tabs">
	      <h3 class="m_1">Más populares</h3>
	      {% for product in most_popular %}
	      <ul class="product">
	      	<li class="product_img"><img src="{{static_admin}}/shoes_app/photos/{{product.producto.filename}}" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="{{url}}/detalle/{{product.producto.pk}}">{{product.producto.name}}</a></h4>
	      		<p class="single_price">{{product.producto.price}}</p>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      {% endfor %}

        </div>
     <div class="clearfix"> </div>
	</div>
   </div>
  <div class="footer">
   	 <div class="container">

		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2016 Shoes. Todos los derechos reservados</p>
	    </div>
   	</div>
   </div>
   
   <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Comprar</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">Email:</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="shoe@example.com">
        </div>
        <div class="row">
            <div class="col-md-12">
                <span style="color:#d30061">Al hacer la compra nos contactaremos contigo para hacer efectivo tu pedido.</span>
            </div>
        </div>
      </div>
      <div class="modal-footer">
       <a href="{{url}}/all/" class="btn btn-default btn-primary btn-normal btn-inline btn_form button item_add item_1" id="enviar_compra" target="_self" data-dismiss="modal">Comprar </a>
      </div>
    </div>

  </div>
</div>

</form>
<!-- FlexSlider -->
<script defer src="{% static 'shoes_app/js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'shoes_app/css/flexslider.css' %}" type="text/css" media="screen" />
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails",
    smoothHeight: true
  });
});
</script>

    <script>
        $(function () {
            var shrinkHeader = 300;
            $(window).scroll(function () {
                var scroll = getCurrentScroll();
                if (scroll >= shrinkHeader) {
                    $('.scroll-header').addClass('shrink');
                } else {
                    $('.scroll-header').removeClass('shrink');
                }
            });

            function getCurrentScroll() {
                return window.pageYOffset || document.documentElement.scrollTop;
            }
            
            
        });
            

    </script>
    
    <script>
            $( "#enviar_compra" ).click(function() {
                
                if ($("#size_input").val()==""){
                    alert("necesitas poner un tamaño de calzado")  
                }else if ($("#email").val()==""){
                    alert("necesitamos tu correo para contactarte")  
                }else{
                    $( "#enviar_producto" ).submit();
                }
                
                
            });            
            
            $( ".size-number" ).click(function() {
                $( ".size-number" ).each(function( index ) {
                    $(this).css('background', '#f0f0f0')
                    $(this).css('color', '#555')
                });
                $(this).css('background', '#d30061')
                $(this).css('color', '#f8f8f8')
                $( "#size_input" ).val($(this).text());
            });            
        
            $( ".marca-number" ).click(function() {
                $( ".marca-number" ).each(function( index ) {
                    $(this).css('background', '#f0f0f0')
                    $(this).css('color', '#555')
                });
                $(this).css('background', '#d30061')
                $(this).css('color', '#f8f8f8')
                $( "#marca_input" ).val($(this).text());
                var marca = $(this).text()
                {% for price in prices %}
                    var price_marca = "{{price.marca.name}}"
                    if (price_marca == marca){
                        $( "#before_price" ).text("{{price.price_before}}");
                        $( "#price" ).text("{{price.price}}");
                    }
                {% endfor %}
            });
    </script>
    
</body>
</html>		
