/*** layout ***/

body, html {
    font-family: verdana;
    font-size: 12px;
    line-height:20px;
    color: #333;
    background-color: #FEFEFE;
    margin: 0;
    text-rendering: optimizeLegibility;
}
a {
    color: #3399FF;
    text-decoration: none;
}
code {
    padding: 1px 3px;
    color: #D14;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 5px;
}

h2 {
    display: inline-block;
}

.no-margin-top {
    margin-top: 0px;
}

/*** header ***/


#header-logo {
    position: absolute;
    display: block;
    width: 94px;
    height: 20px;
    left: 10px;
    top: 10px;
    background-image: url('./img/websanova-logo-small-full-black.png');
}
#header-links {
    display: none;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 40px;
}
#header-links a {
    display: block;
    font-size: 9px;
    font-weight: bold;
    font-family: Verdana;
    color: #FAFAFA;
    text-transform: uppercase;
    margin-left: 0px;
    text-align: center;
    background-color: #1B1B1B;
    border-top: solid 1px #CACACA;
    line-height: 14px;
    padding: 10px;
}
#header-links a:hover {
    color: #636363;
}

/*** menu ***/

#header-menu-button {
    position: absolute;
    right: 6px;
    top: 6px;
    display: block;
    color: #757575;
    background-color: #e1e1e1;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: linear-gradient(top, #ebebeb, #e1e1e1);
    box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 6px 10px;
    font-size: 11px;
    line-height: 16px;
    cursor: pointer;
}

/*** content ***/

#plugin-name {
    padding-bottom: 30px;
    font-size: 24px;
    border-bottom: solid #CACACA 1px;
}
#github-button {
    display: block;
    float: left;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url('./img/addthis-github.png');
}
#addthis-toolbox {
    position: absolute;
    right: 15px;
    top: 40px;
}
#content {
    position: relative;
    background: #FEFEFE;
    max-width: 728px;
    padding: 20px;
    margin: 30px auto;
}
.content-box {
    padding-left: 10px;
}
#content ul {
    padding-left: 30px;
}
/*** footer ***/

footer {
    position: fixed;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.5);
    border-width: 0 0 1px;
    color: #FFF;
    font-size: 10px;
    text-align: left;
    vertical-align: middle;
    z-index: 100;
}
#footer-icons {
    position: absolute;
    right: 10px;
    top: 0px;
}
#footer-icons a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 17px;
    height: 17px;
    margin: 12px 0 0 10px;
    background-repeat: no-repeat;
    background-position: center center;
}
#linkedin-icon { background-image: url('./img/linkedin-icon.png'); width: 18px; }
#stumbleupon-icon { background-image: url('./img/stumbleupon-icon.png'); }
#googleplus-icon { background-image: url('./img/googleplus-icon.png'); }
#youtube-icon { background-image: url('./img/youtube-icon.png'); width: 17px; height: 18px; }
#facebook-icon { background-image: url('./img/facebook-icon.png'); width: 8px; }
#twitter-icon { background-image: url('./img/twitter-icon.png'); width: 20px; }
#github-icon { background-image: url('./img/github-icon.png'); width: 20px; }
#rss-icon { background-image: url('./img/rss-icon.png'); }


/*** media ***/

@media screen and (min-width: 600px) {
    #header-logo {
        left: 50px;
    }
    #footer-icons {
        left: auto;
        right: 50px;
    }
    #header-links {
        display: block !important;
        width: auto;
        top: 0px;
        left: auto;
        right: 50px;
    }
    #header-links a {
        display: inline;
        font-size: 10px;
        margin-left: 20px;
        text-align: left;
        background-color: none;
        border-top: 0px;
        margin-left: 10px;
        line-height: inherit;
        padding: 0px;
    }
    #header-menu-button {
        display: none;
    }
    #plugin-name {
        font-size: 30px;
    }
    #addthis-toolbox {
        top: 44px;
    }
}

/*** ads ***/

.websanova-plugins-page-horizontal-responsive { display:block; margin:0 auto; width: 320px; height: 50px; }
@media(min-width: 520px) { .websanova-plugins-page-horizontal-responsive { width: 468px; height: 60px; } }
@media(min-width: 800px) { .websanova-plugins-page-horizontal-responsive { width: 728px; height: 90px; } }

.adsblock {
    position: relative;
    margin: 0 auto;
}
.ads2block {
    margin-top: 20px;
}
.adsblock-mobile-banner {
    width: 320px;
    height: 50px;
}
.adsblock-banner {
    display: none;
    width: 468px;
    height: 60px;
}
.adsblock-leaderboard {
    display: none;
    width: 728px;
    height: 90px;
}
@media (min-width:520px) {
    .adsblock-mobile-banner { display: none; }
    .adsblock-banner { display: block; }
}
@media (min-width:800px) {
    .adsblock-mobile-banner { display: none; }
    .adsblock-banner { display: none; }
    .adsblock-leaderboard { display: block; }
}