@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


.demo_changer{
    z-index: 900; 
    position: fixed;
    left: -140px;
    top: 178px; 
}


.line {
    border-bottom: 1px solid #efefef;
    clear: both;
    margin: 20px !important;
}


.demo_changer .demo-icon{
    background: url(../demo-files/switcher/color.png) no-repeat scroll 4px 0 rgba(255, 255, 255, 0.63);
    
    cursor: pointer;
    float: right;
    height: 40px;
    width: 40px;
}

.form_holder p {
    color:#332a2a; margin-top:20px; margin-bottom:15px;
    font-size: 12px;
	line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

    
    }
.form_holder {marign-right:20px;}

.form_holder a:hover {opacity:0.8}

.demo_changer .form_holder {
	background: rgba(255, 255, 255, 0.63);
    float: right;
    width: 140px;
    height:240px;
}

.demo_changer .form_holder p{
    padding-left:20px;
    padding-right:10px;

}

.demo_changer .form_holder input{
    width: 55px;
	box-shadow: none;
}

.color_display_2 a{
    color: #fff;
    text-decoration: none;
    opacity:1;


}

.color_display_2 a:focus,
.color_display_2 a:hover {
    color: #ededed !important;
    text-decoration: none;
    opacity:0.8;
}


.predefined_styles{
    margin-left:20px;
    padding-left:0px;
    padding-right:0px;
}

.predefined_styles a {
    margin-left:0px;
    margin-right:0px;
    opacity:1;
}

.predefined_styles img{
    margin-right:-5px;
}

.predefined_styles img:hover{
    opacity:1;
}

.variant {margin-left:20px; margin-bottom:1px; opacity:1;}



